* {
   text-transform: capitalize !important;
}
.table-toggle-icon.collapsed::before {
    transform: rotate(0deg);
    transition: .1s all !important;
}
.table-toggle-icon::before {
    transform: rotate(90deg);
    transition: .1s all !important;

}
option {
    text-transform: none !important ;

}

.container-fluid {
    width: 95% !important;
    padding-right: 24px;
    padding-left: 24px;
} 

.box.th {
    color: white !important;
    background-color: #12326A !important;
    font-size: 12px !important;
    padding: 10px !important;
    letter-spacing: 1px;
    font-weight: normal !important;
}
.parent-row .box {
    background: #4188F9 !important;
    color: #EBF5FE !important;
}
.box {
    padding: 10px !important;
    width: 139px !important;
    min-width: 139px !important;
    max-width: 139px !important;
    font-size: 14px !important;
    color: black;
    display: flex;
    align-items: center;
    background: white;
}
.box.box-lg {
    width: 200px !important;
    min-width: 200px !important;
    max-width: 200px !important;
}
.box.box-sm {
    width: 80px !important;
    min-width: 80px !important;
    max-width: 80px !important;
    text-align: center;
    position: sticky;
    right: 0; 
}
.dot-sm {
    font-size: 10px !important;
}
 
.text-primary2 {
    color: #12326A !important;
}
.bg-primary-2 {
    background-color: #12326A !important;
}
.table-tr {
    --bs-table-accent-bg: var(--bs-table-hover-bg);
    color: var(--bs-table-hover-color)
}
.form-control.custom , .form-select.custom {
    height: 30px !important;
}
.table-fillters .col-12 {

    padding:  0  !important;
}
.table-fillters .col {
    padding:  0  !important;
    text-align: center !important;
    border: 1px solid lightgray;
    margin-right: 4px;
    border-radius: 3px;
}
.table-fillters .col:last-child{
    margin-right: 0 !important;
}
.table-fillters {
    padding: 10px;
    background-color: white;
    margin-bottom: 20px !important;
    box-shadow: var(--shadow);
}
.table-fillters .col .form-control.custom , .form-select.custom {
    border: none !important;
}
.table-fillters .col .form-label {
       color: var(--bs-primary);
    background-color: rgba(54, 136, 252, .18);
    display: block !important;
    margin: 0;
    line-height: 23px;
    min-height: 25px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}
/* .table-fillters .col:hover,  .form-label{
    background-color: var(--bs-primary);
    color: white !important;
} */
.table-fillters .col:hover  {
    background-color: rgba(54, 136, 252, .18);
}
.pointer-none {
    pointer-events: none !important;
    user-select: none !important;
} 
.cursor {
    cursor: pointer !important;
}

.btn-danger-light {
    color: #fa5c7c;
    background-color: rgba(250,92,124,.18);
}
.btn-success-light {
    color: #0acf97;
    background-color: rgba(10,207,151,.18);
}

.btn-danger-light:focus, .btn-danger-light:hover {
    color: #fff;
    background-color: #d55858;
    border-color: #c85252;
    -webkit-box-shadow: 0 0 0 .15rem rgba(251, 126, 126, .5);
    box-shadow: 0 0 0 .15rem rgba(251, 126, 126, .5)
}

.btn-success-light:focus , .btn-success-light:hover {
    color: #fff;
    background-color: #38b385;
    border-color: #35a87e;
    -webkit-box-shadow: 0 0 0 .15rem rgba(94, 217, 172, .5);
    box-shadow: 0 0 0 .15rem rgba(94, 217, 172, .5)
}
.font-20 {
    font-size: 20px !important;
}
.modal-scroll {
    max-height: 80vh;
    overflow: auto;
}
.navbar-nav.custom .nav-item .nav-link{
    display:  flex ;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 13px;
}
.navbar-nav.custom .nav-item .nav-link span {
    display: block !important;
}
.custom-center {
    text-align: center !important;
}
.dropdown-menu {
    border-radius: 10px !important;
    overflow: hidden;
    min-width: 250px !important;
}
.dropdown-menu a {
    line-height: 25px !important;
}
.dropdown-item.active {
    color: #12326a;
    text-decoration: none;
    background-color: #dbeafe;
    font-weight: bold;
}
.dropdown-item.active .bi {
    color: #12326a;

}
.bg-primary-light {
    background-color: rgba(54, 136, 252, .18) !important;
}
.rounded-4 { border-radius: .5rem; }
.rounded-5 { border-radius: .75rem; }
.rounded-6 { border-radius: 1.5rem; }


.rounded-4 { border-radius: .5rem; }
.rounded-5 { border-radius: 1rem; }

.text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
.text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
.text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }

.card-cover {
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
}
.bg-none {
    background-color: none !important;
    background: none !important;
}
.font-weight-normal {
    font-weight:  normal !important;
}
.img-png {
    mix-blend-mode: multiply !important;
}
.right-0 {
    right:0 

}
.custom-box {
    width: 25%;
    min-height: 120px !important ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: var(--shadow);
    margin: 10px !important;
}
.text-primary-2 {
    color: #12326a !important;
}

.modal-scroll-2 {
    max-height: 95vh;
    overflow: auto;
}
.swal-modal {
    border-radius: 25px !important;
}
.swal-footer {
    text-align: center !important;
    background-color: rgb(245, 248, 250);
    margin-top: 32px;
    border-top: 1px solid #E9EEF1;
    overflow: hidden;
}
.swal-button.btn-danger:hover {
    background-color: #fa5c7c !important;
}

.shadow-hover:hover 
{
   -webkit-box-shadow: 0 0 35px 0 #00000026!important;
    box-shadow: 0 0 35px 0 #00000026!important;
}
.border-hover {
    border: 1px solid transparent;
}
.border-hover:hover  {
    border: 1px solid var(--bs-primary);
}
.bg-primary-gradient {
    background-image: linear-gradient(to right bottom, #163269, #22468a, #2e5bad, #3972d1, #4389f6);
    color: white;
    cursor: pointer;
}
.input-group {
    align-items: center !important;
}
.y-center  {
    align-items: center !important;
}

.x-center  {
    justify-content: center !important;
}

.wizzard-form  label {
    font-size: 13px !important;
    font-weight: 600;
    color: #12326A !important;
}

.rotate ,
.rotate::before {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(359deg);
}
}

 
.swal-button.btn-light {
    background-image: linear-gradient(#fff, #fff 6%, #f0f0f0) !important;
    -webkit-filter: none !important;
    filter: none !important;
    border: 1px solid #dedede !important;
    color: #000 !important;
    background-color: #fff !important;
}

.swal-icon.swal-icon--warning {
    border: 2px solid #F8666A !important;
}
.swal-icon--warning__body , .swal-icon--warning__dot{
    background-image: linear-gradient(#db301d, #F8666A 6%, #cc210e) !important;
}
.swal-text {
    font-weight: bold;
    font-size: 19px;
    color: #12326a;
}
.ms-options {
    min-height: auto !important;
    max-height: 200px !important;
    padding: 10px;
}
.ms-options  ul li {
    list-style: none !important;
}
.ms-options  ul {
    list-style-type: none !important;
    list-style: none !important;
    padding:0  !important;
    margin: 0 !important;
}

.ms-options-wrap > button:focus, .ms-options-wrap > button {
   display:block;width:100%;padding:.45rem 2.5rem .45rem .9rem;-moz-padding-start:calc(.9rem - 3px);font-size:.9rem;font-weight:400;line-height:1.5;color:#6c757d !important;background-color:#fff !important;background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");background-repeat:no-repeat;background-position:right .9rem center;background-size:16px 12px;border:1px solid #dee2e6 !important;border-radius:.25rem !important;-webkit-transition:border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;transition:border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;-webkit-appearance:none;-moz-appearance:none;appearance:none
}
.ms-options-wrap > button:after {
    display: none !important;
}

.ms-search {
    margin-bottom: 15px;
}

.ms-options-wrap > .ms-options > .ms-search input {
    border: 1px groove !important;
}


.link-disabled {
    background: #f7f8f9 !important;
    color: #d1d1d1 !important;
    cursor: not-allowed !important;
}
.tableColumns-dropdown {
    position: relative;
}
.tableColumns-menu {
    position: absolute;
    top: 20px;
    right: 0;
    z-index: -111111;
    opacity: 0;
    border-radius: 25px;
    background-color: white;
    padding: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px #00000027;
}
.tableColumns-menu .menu-list {
    max-height: 380px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 250px;
}
.tableColumns-menu .menu-list label {
    text-align: left !important;
    display: flex;
    justify-content: start;
    align-items: center;
    line-height: 35px;
}
.tableColumns-dropdown:hover .tableColumns-menu{
    z-index: 1111111 !important;
    opacity: 1;
}

.custom-table-head,
.custom-table-row   {
    display: flex;
}
.custom-table-head .box {
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    border-right: 1px solid #eee;
}
a {
    cursor: pointer !important;
}
.box {
    font-size: 13px !important;
}
.sticky-right {
    background: white !important;
    position: sticky;
    right: 0 !important;
    text-align: center;
    justify-content: center !important;
    z-index:11 !important
}
.sticky-left {
    position: sticky !important;
    left: 0 !important;
    text-align: center;
    justify-content: center !important;
    z-index:11 !important; 
}
 
.custom-table-row  .box:nth-last-child(1) ,
.custom-table-head  .box:nth-last-child(1),
.custom-table-row  .box:nth-child(1),
.sticky-left 
{
    position: sticky !important;
    justify-content: center;
}
 
.non-drafted .box {
    background-color: #ffffff !important;
}

.drafted .box {
    background-color: #e6e6e6 !important;
    color: gray;
}
.custom-table-row.drafted {
    border-bottom: 1px solid darkgray;
}
 
.batch-table .custom-table-row:hover .box {
    background-color: #E6F1F9 !important;
    color: #4087F8 !important;
}
.custom-table-head:hover .box {
    background-color: #163269 !important;
    color: white !important;
}
 
.custom-table-row  .box:nth-last-child(1) ,
.custom-table-head  .box:nth-last-child(1)
{
    right: 0 !important;
}
.custom-table-row  .box:nth-child(1),
.sticky-left  {
    left: 0 !important;
}
 
.custom-table-row .box{
    border-bottom: 1px solid #00000012;
}
.custom-table-head {
    border-bottom: 1px solid #eeeeee;
}
.box .dropdown-menu.show  {
    transform: translate(-291px, 1px) !important
}
.fa-1x {
    font-size: 20px !important;
}
.event_none::after {
    content: "";
    width: 100%;
    height: 135px;
    background: #2b10108f;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11111 !important;
}
.ng-invalid-max ,
.ng-invalid.ng-invalid-min.ng-dirty.ng-invalid-parse  {
    border:1px solid #d55858 !important;
}
 
.custom-table th {
    background: #12326a !important;
    color: white !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    font-size: 12px;
    vertical-align: middle;
}
.custom-table td {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    font-size: 12px;
}
 
#print-table_wrapper {
    background:  white !important;
    padding: 20px !important;
    margin: 20px 0 !important;
    box-shadow: 0 0 10px lightgray;
}
.custom_number_input {
    width: 100%;
    outline: none;
    border-radius: 0;
    border: 1px solid lightgray;
}
.btn-draw {
    width: 100px;
    border-radius: 33px;
    outline: none;
    border: 1px solid gray;
    font-weight: bold;
    transition: all .5s;
}
.btn-draw:active {
    opacity: .5;
}
.draw-out {
    background: #d9fff1;
    color: #008e5a;
}
.draw-in {
    background: #f1f1f1;
    color: #63736d;
}
.draw-in:hover {
    background: #63736d;
    color: #f1f1f1;
}
.custom-input:disabled {
    font-weight: normal;
    background: none;
    border: none;
    outline: none;
    text-align: center !important;
}
.btn-draw:disabled {
    font-weight: normal;
    background: none;
    border: none;
    outline: none;
}
.draw_time {
    border: none;
    resize: none;
    box-shadow: none;
    outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}