
.table-toggle-icon.collapsed::before {
    transform: rotate(0deg);
    transition: .5s all;
}
.table-toggle-icon::before {
    transform: rotate(90deg);
    transition: .5s all;

}
option {
    text-transform: none !important ;

}

.container-fluid {
    width: 95% !important;
    padding-right: 24px;
    padding-left: 24px;
} 

.child-td {
    /* max-width: 100px ; */
    min-width: 100px !important;
    max-width: 100px !important;
    width: 100px !important;
    padding: 5px 0 !important;
    text-align: center !important;
    vertical-align: middle !important;
    font-size: 12px !important;
}
.dot-sm {
    font-size: 10px !important;
}
.child-td-lg {
    min-width: 100px !important;
    max-width: 100px !important;
    width: 100px !important;
    /* max-width: 150px !important; */
    padding: 5px 0 !important;
    text-align: center !important;
    vertical-align: middle !important;
    font-size: 12px !important;
}

.table-th {
    color: white !important;
    background-color: #12326A !important;
    font-size: 12px !important;
    padding: 5px !important;
    letter-spacing: .5px;
    font-weight: normal !important;
}
.bg-primary-2 {
    background-color: #12326A !important;
}
.table-tr {
    --bs-table-accent-bg: var(--bs-table-hover-bg);
    color: var(--bs-table-hover-color)
}
.form-control.custom , .form-select.custom {
    height: 30px !important;
}
.table-fillters .col-12 {

    padding:  0  !important;
}
.table-fillters .col {
    padding:  0  !important;
    text-align: center !important;
    border: 1px solid lightgray;
    margin-right: 4px;
    border-radius: 3px;
}
.table-fillters .col:nth-child(7) {
    margin-right: 0 !important;
}
.table-fillters {
    padding: 10px;
    background-color: white;
    margin-bottom: 20px !important;
    box-shadow: var(--shadow);
}
.table-fillters .col .form-control.custom , .form-select.custom {
    border: none !important;
}
.table-fillters .col .form-label {
       color: var(--bs-primary);
    background-color: rgba(54, 136, 252, .18);
    display: block !important;
    margin: 0;
    line-height: 23px;
    min-height: 45px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.table-fillters .col:hover, .col:active, .col:focus .form-label{
    background-color: var(--bs-primary);
    color: white !important;
}
.table-fillters .col:hover  {
    background-color: rgba(54, 136, 252, .18);
}
.pointer-none {
    pointer-events: none !important;
    user-select: none !important;
} 
.cursor {
    cursor: pointer !important;
}

.btn-danger-light {
    color: #fa5c7c;
    background-color: rgba(250,92,124,.18);
}
.btn-success-light {
    color: #0acf97;
    background-color: rgba(10,207,151,.18);
}

.btn-danger-light:focus, .btn-danger-light:hover {
    color: #fff;
    background-color: #d55858;
    border-color: #c85252;
    -webkit-box-shadow: 0 0 0 .15rem rgba(251, 126, 126, .5);
    box-shadow: 0 0 0 .15rem rgba(251, 126, 126, .5)
}

.btn-success-light:focus , .btn-success-light:hover {
    color: #fff;
    background-color: #38b385;
    border-color: #35a87e;
    -webkit-box-shadow: 0 0 0 .15rem rgba(94, 217, 172, .5);
    box-shadow: 0 0 0 .15rem rgba(94, 217, 172, .5)
}
.font-20 {
    font-size: 20px !important;
}
.modal-scroll {
    max-height: 80vh;
    overflow: auto;
}
.navbar-nav.custom .nav-item .nav-link{
    display:  flex ;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 13px;
}
.navbar-nav.custom .nav-item .nav-link span {
    display: block !important;
}
.custom-center {
    text-align: center !important;
}
.dropdown-menu {
    border-radius: 10px !important;
    overflow: hidden;
    min-width: 250px !important;
}
.dropdown-menu a {
    line-height: 25px !important;
}
.dropdown-item.active {
    color: #12326a;
    text-decoration: none;
    background-color: #dbeafe;
    font-weight: bold;
}
.dropdown-item.active .bi {
    color: #12326a;

}
.bg-primary-light {
    background-color: rgba(54, 136, 252, .18) !important;
}
.rounded-4 { border-radius: .5rem; }
.rounded-5 { border-radius: .75rem; }
.rounded-6 { border-radius: 1.5rem; }


.rounded-4 { border-radius: .5rem; }
.rounded-5 { border-radius: 1rem; }

.text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
.text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
.text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }

.card-cover {
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
}
.bg-none {
    background-color: none !important;
    background: none !important;
}
.font-weight-normal {
    font-weight:  normal !important;
}
.img-png {
    mix-blend-mode: multiply !important;
}
.right-0 {
    right:0 

}
.custom-box {
    width: 25%;
    min-height: 120px !important ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: var(--shadow);
    margin: 10px !important;
}
.text-primary-2 {
    color: #12326a !important;
}

.modal-scroll-2 {
    max-height: 95vh;
    overflow: auto;
}
.swal-modal {
    border-radius: 25px !important;
}
.swal-footer {
    text-align: center !important;
    background-color: rgb(245, 248, 250);
    margin-top: 32px;
    border-top: 1px solid #E9EEF1;
    overflow: hidden;
}
.swal-button.btn-danger:hover {
    background-color: red !important;
}

.shadow-hover:hover 
{
   -webkit-box-shadow: 0 0 35px 0 #00000026!important;
    box-shadow: 0 0 35px 0 #00000026!important;
}
.border-hover {
    border: 1px solid transparent;
}
.border-hover:hover  {
    border: 1px solid var(--bs-primary);
}
.bg-primary-gradient {
    background-image: linear-gradient(to right bottom, #163269, #22468a, #2e5bad, #3972d1, #4389f6);
    color: white;
    cursor: pointer;
}
.input-group {
    align-items: center !important;
}
.y-center  {
    align-items: center !important;
}

.x-center  {
    justify-content: center !important;
}

.wizzard-form  label {
    font-size: 13px !important;
    font-weight: 600;
    color: #12326A !important;
}